@font-face {
    font-family: '2dumbregular';
    src: url('2Dumb-webfont.eot');
    src: url('2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
    url('2Dumb-webfont.woff') format('woff'),
    url('2Dumb-webfont.ttf') format('truetype'),
    url('2Dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

